server:
  tomcat:
    # Aumentamos el límite de conexiones.
    # Si el Cloud escala la RAM, esto nos permitirá aprovecharla.
    max-connections: 500
    accept-count: 100
    connection-timeout: 10s
    threads:
      # Estos son hilos de plataforma. Con 0.5 CPU no queremos muchos.
      max: 20
spring:
  threads:
    virtual:
      enabled: true